.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/main.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 91px;
    }
    &__header {
        margin: 0;
        color: $text-color1;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        margin: 18px 0 0 0;
        color: $text-color1;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 24px;
    }
    &__icons {
        margin-top: 66px;
        width: 424px;
        display: flex;
        justify-content: space-between;
       
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: $text-color1;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto 20px auto;
        }
    }
    &__link {
        margin-top: 18px;
        color: $text-color1;
        font-size: 16px;
        font-weight: 500;
        a {
            color: $text-color1;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
    @media (max-width: 992px) {
        padding: 22px 22px 65px 22px;
    }
    @media (max-width: 768px) {
        padding: 20px 20px 65px 20px;
        &__wrapper {
            align-items: center;
            margin-top: 60px;
            text-align: center;
        }
        &__header {
            font-size: 36px;
            line-height: 46px;
        }
        &__subheader {
            font-size: 22px;
            line-height: 28px;
            font-weight: 300;
        }
        &__icons {
            width: 390px;
        }
    }
    @media (max-width: 425px) {
        padding: 16px 16px 65px 16px;
        &__wrapper {
            align-items: center;
            margin-top: 60px;
            text-align: center;
        }
        &__icons {
            margin-top: 0;
            width: 106px;
            flex-direction: column;
        }
        &__icon {
            margin-top: 55px;
            img {
                margin: 0 auto 6px auto;
            }
        }    
    }
    @media (max-width: 375px) {
        padding: 13px 13px 55px 13px;
        &__wrapper {
            margin-top: 55px;
        }
        &__icon {
            margin-top: 44px;
        }
    }
    @media (max-width: 320px) {
        padding: 11px 11px 45px 11px;
        &__wrapper {
            margin-top: 45px;
        }
        &__icon {
            margin-top: 33px;
        }
    }
}
